.site-status-message.info {
  background: none #2101d3;
}

.site-status-message.success {
  background: none #01d321;
}

.site-status-message.warning {
  background: none #d3d301;
}

.site-status-message.danger {
  background: none #d32101;
}
